[submodule "external/Utilities"]
	path = external/Utilities
	url = https://github.com/DevZest/Utilities.git
[submodule "external/RDO.Data"]
	path = external/RDO.Data
	url = https://weifenluo@bitbucket.org/weifenluo/rdo.data.git
