<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevZest.Data.Common" version="1.0.0-rc-20160321" targetFramework="net46" />
  <package id="DevZest.Data.SqlServer" version="1.0.0-rc-20160321" targetFramework="net46" />
  <package id="DevZest.Samples.AdventureWorksLT" version="1.0.0-rc-20160321" targetFramework="net46" />
  <package id="DevZest.Samples.AdventureWorksLT.SqlServer2014" version="1.0.0" targetFramework="net46" />
</packages>