<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net46" />
  <package id="DevZest.Data.Common" version="1.0.0-rc-20171013-2" targetFramework="net46" />
  <package id="DevZest.Data.SqlServer" version="1.0.0-rc-20171013-2" targetFramework="net46" />
  <package id="DevZest.Samples.AdventureWorksLT" version="1.0.0-rc-20171013-2" targetFramework="net46" />
  <package id="Moq" version="4.5.30" targetFramework="net46" />
</packages>