<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="DevZest.Data.Common" version="1.0.0-beta-20180117" targetFramework="net461" />
  <package id="DevZest.Data.sqlServer" version="1.0.0-beta-20180117" targetFramework="net461" />
  <package id="DevZest.Samples.AdventureWorksLT" version="1.0.0-beta-20180117" targetFramework="net461" />
  <package id="Moq" version="4.5.30" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.4.2" targetFramework="net461" />
</packages>